body {
    background-image: url("http://www.bearcatsoftballcamps.com/images/N%20Paw_FC.png");
    background-repeat: no-repeat;
    opacity:50%;

 background-size:cover;
}

.circle {

    float: right;
    border-radius: 90%;

}
.vid1{margin-left: 16cm;}